<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2024 Ménard Lab. </a></p>
              <p></p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Advanced Research Complex<br />
		  25 Templeton Street
		  Ottawa, ON <br />
		  K1N 7N9, Canada <br />
            (<a href="https://maps.app.goo.gl/i4wgybquP7ZneNMZ8">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
